<div class="user-details">
  <div class="back d-flex align-items-center mb-3">
    <p class="m-0" (click)="backToUsers()">
      <fa-icon [icon]="faArrowLeft" class="icon mr-2"></fa-icon>

      Back to Users
    </p>
  </div>
  <p class="text-info" *ngIf="loading; else notLoading">Loading...</p>
  <ng-template #notLoading>
    <div class="user-profile">
      <div class="d-flex">
        <img src="{{ user.profileImageUrl }}" class="rounded-circle" />
        <div class="user-info ml-3">
          <h6 class="m-0 mb-1">{{ user.name }}</h6>
          <p class="m-0">{{ user.jobProfile }}</p>
          <p class="m-0">{{ user.department }}, {{ user.location }}</p>
          <div class="like-dislike d-flex mt-2">
            <div class="like d-flex align-items-center">
              <fa-icon
                [icon]="faThumbsUp"
                class="like-active"
                [ngClass]="{ 'like-active': liked }"
                (click)="rateUser(true, false)"
              ></fa-icon>
              <p class="m-0 ml-1">{{ user.likes }}</p>
            </div>
            <div class="dislike d-flex ml-3">
              <fa-icon
                [icon]="faThumbsDown"
                [ngClass]="{ 'dislike-active': disliked }"
                (click)="rateUser(false, true)"
              ></fa-icon>
              <p class="m-0 ml-1">{{ user.dislikes }}</p>
            </div>
          </div>
        </div>
        <div class="d-flex">
          <div class="user-stats p-2 text-center">
            <h5 class="m-0 mb-2 mt-3">{{ user.questionsAsked }}</h5>
            <p class="m-0">Questions Asked</p>
          </div>
          <div class="user-stats p-2 text-center">
            <h5 class="m-0 mb-2 mt-3">{{ user.questionsAnswered }}</h5>
            <p class="m-0">Questions Answered</p>
          </div>
          <div class="user-stats p-2 text-center">
            <h5 class="m-0 mb-2 mt-3">{{ user.questionsSolved }}</h5>
            <p class="m-0">Questions Solved</p>
          </div>
        </div>
      </div>
    </div>
    <div class="nav d-flex">
      <a
        class="nav-link"
        [ngClass]="{ active: allQuestionSelected }"
        (click)="loadQuestions(true)"
        >All Questions</a
      >
      <a
        class="nav-link"
        [ngClass]="{ active: !allQuestionSelected }"
        (click)="loadQuestions(false)"
        >Answered</a
      >
    </div>
    <app-question-answer
      [questionsList]="questions"
      [loading]="questionsLoading"
    ></app-question-answer>
  </ng-template>
</div>
