@import "./scss/variables";
@import "./scss/mixins";

.app-main-content {
  width: 100%;
  height: 100%;
  margin-top: 52px;
  .app-main {
    margin-left: 100px;
    width: 100%;
    height: 100%;
  }
}

.modal-header {
  background-color: #515867;
}

.cancelBtn {
  background-color: rgb(164, 170, 178);
  &:hover {
    background-color: darken($color: #a4aab2, $amount: 20);
  }
}
.postBtn {
  background-color: #76618b;
  &:hover {
    background-color: darken($color: #76618b, $amount: 20);
  }
}

.add-category {
  background-color: $purple;
}

.question-list {
  height: 100%;
  padding: 20px;
  background-color: #f3f5f8;
}

select {
  width: 124px;
}

.add-question {
  background-color: $purple;
}

.question-answer {
  margin: 20px 0;
  background-color: white;
  border: 1px solid rgb(212, 215, 220);
  border-radius: 3px;
}

.answerList {
  border-left: 1px solid rgb(212, 215, 220);
  height: 100%;
  .click-question {
    position: relative;
    height: 100%;
    top: 25%;
    text-align: center;
    color: rgb(164, 170, 178);
    .icon {
      font-size: 32px;
    }
    p {
      font-size: 20px;
    }
  }
}

@import "./scss/header";
@import "./scss/sideNav";
@import "./scss/mainNav";
@import "./scss/searchCategory";
@import "./scss/categories";
@import "./scss/searchQuestion";
@import "./scss/user";
@import "./scss/questionAnswer";
