.question {
  .triangle {
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 14px solid green;
    transform: rotate(-45deg);
    position: absolute;
    left: -10px;
    top: -2px;
  }
  padding: 20px;
  width: 100%;
  border-bottom: 1px solid rgb(212, 215, 220);
  cursor: pointer;
  &.selected {
    background-color: rgb(249, 248, 246);
    border-right: 4px solid rgb(118, 97, 139);
  }
  .profile {
    img {
      width: 28px;
      height: 28px;
    }
    .upvote {
      position: relative;
      bottom: -6px;
      color: rgb(119, 119, 119);
      &:hover,
      &.active {
        color: black;
      }
    }
  }
  .user-question {
    width: 100%;
    p {
      margin: 0;
      margin-bottom: 4px;
    }
    .ques {
      font-weight: 500;
      font-size: 15px;
    }
    .ques-detail {
      font-size: 14px;
      color: rgb(119, 119, 119);
    }
    .views {
      color: rgb(119, 119, 119);
      font-size: 11px;
      width: 100%;

      p {
        margin: 0;
      }
      .view-icon {
        font-size: 16px;
      }
      .answer-number {
        background-color: rgb(244, 245, 248);
        border: 1px solid rgb(212, 215, 220);
        border-radius: 4px;
        padding: 4px;
      }
    }
  }
}
